h1 Vista Editar tarea
form(method='post', action='/tareas/' + tarea.id)
  input(name='_method', value='PUT', type='hidden')
  fieldset
    legend Editra tarea
      div.clearfix
        label Tarea
        div.input
          input(name='tarea[tarea]', class='xlarge', value="#{tarea.tarea}")
      div.actions
        input(type='submit', value='Guardar', class='btn primary')
          button(type='reset', class='btn') Cancelar
