mixin users(users)
  ul
    each user in users
      li= user
- users = ['Selenia', 'Jose', 'Karla']
mixin users(users)
- mas_users = ['Marcos', 'Elena', 'David', 'Pedro', 'Byron']
mixin users(mas_users)
